<div class="container" *ngIf="currentQueue?.length">
  <mat-table [dataSource]="currentQueue" class="mat-elevation-z8">
    <!-- Artist Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.user}} </mat-cell>
    </ng-container>
    <!-- Artist Column -->
    <ng-container matColumnDef="artist">
      <mat-header-cell *matHeaderCellDef> Artist </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.song.artist}} </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.song.title}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBottomSheet(row)"
    [ngStyle]="entryOfCurrentUser(row) ? {'background-color':  'lightcyan', 'cursor': 'pointer'} : {}"></mat-row>

  </mat-table>

</div>
<div class="container" *ngIf="!currentQueue || !currentQueue.length ">
  <span>The queue is empty</span>
</div>
