<div class="container">
  <mat-form-field>
    <input id="name" name="name" matInput #name="ngModel" [(ngModel)]="profile.name" placeholder="What's your name?" required minlength="3">
  </mat-form-field>
  <div *ngIf="name.invalid && (name.dirty || name.touched)"
       class="alert alert-danger">

    <div *ngIf="name.errors.required">
      Name is required.
    </div>
    <div *ngIf="name.errors.minlength">
      Name must be at least 3 characters long.
    </div>
    <div *ngIf="name.errors.forbiddenName">
      Name cannot be Bob.
    </div>

  </div>
  <div *ngIf="!name.invalid"><button mat-flat-button color="primary" (click)="save()" routerLink="/dashboard">Ok</button></div>


</div>
